<h1><%= @event.date.strftime("%B %d, %Y") %></h1>

<p><%= @event.description %></p>

<p>Hosted by <%= @event.creator.name %></p>

<h3>Attending</h3>
<ul>
    <% @event.attendees.each do |attendee| %>
      <li><%= attendee.name %></li>
    <% end %>
</ul>